@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

/* header_top start  */

#page {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
}

#nav {
  background-color: #1d75de;
  height: 53px;
}

#nav .nav_ma {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 1170px;
  margin: 0 auto;
}

#nav a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

#nav i {
  color: #fff;
}

#nav i:hover {
  cursor: pointer;
}

/* header_top end */
/* header_under start */

#header {
  height: 80px;
  background-color: #000;
  color: #fff;
}

#header #header_inline {
  width: 1170px;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header .header_left {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#header .header_left:hover {
  cursor: pointer;
}

#header .fa-spotify {
  font-size: 42px;
  padding: 0 5px;
}

#header a {
  color: #fff;
  text-decoration: none;
  padding: 28px 17px;
}

#header ul {
  display: flex;
  align-items: center;
}

#header li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
#header .header_right a:hover {
  color: #1ed760;
}

#header .header_right_border {
  padding: 28px 20px;
}

/* header_under end */
/* section start */

#section {
  background-color: #ffcdd2;
  height: 553px;
}

#section .section_inline {
  width: 1140px;
  height: 553px;
  padding: 72px 0;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#section h1 {
  font-size: 60px;
}

#section h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0 0;
}

#section .section_link {
  display: flex;
  align-items: center;
  margin: 35px 0 0;
}

#section .section_link img:hover {
  cursor: pointer;
}

#section .app {
  width: 130px;
  height: 40px;
}
#section .goole {
  width: 150px;
  height: 60px;
}

#section p {
  font-size: 12px;
  margin: 30px;
}

/* section end */
/* footer start */
#footer {
  background-color: #000;
  height: 534px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer_nav {
  height: 402px;
  margin: 0 auto;
  padding: 0 5px;
}

#footer .footer_nav_top {
  display: flex;
  justify-content: center;
}

#footer .footer_nav_logo {
  width: 160px;
  height: 346px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  padding: 0 15px;
}

#footer .footer_nav_logo:hover {
  cursor: pointer;
}

#footer .footer_nav_logo .fa-spotify {
  font-size: 41px;
  padding-right: 5px;
}

#footer .footer_nav_menu {
  display: flex;
  flex-direction: row;
}

#footer .footer_nav dl {
  padding: 0px 15px;
  height: 346px;
}

#footer .footer_nav dt {
  color: #919496;
  margin: 20px 0;
  font-size: 12px;
}

#footer .footer_nav dd {
  width: 165px;
  height: 42px;
}

#footer .footer_nav a:hover {
  color: #1ed760;
}

#footer .footer_nav a {
  text-decoration: none;
  color: #fff;
  padding: 3px 0 15px;
}

#footer .footer_nav_svelte {
  width: 192px;
  height: 346px;
  margin: 0 15px 0 183px;
  display: flex;
}

#footer .footer_nav_svelte .ul {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  display: flex;
}

#footer .footer_nav_svelte li {
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #222326;
  width: 54px;
  height: 54px;
  margin: 0 15px 0 0;
}

#footer .footer_nav_svelte .ul a {
  font-size: 26px;
  border-radius: 50%;
  background-color: #222326;
}

#footer .footer_nav_mid {
  display: flex;
  justify-content: end;
  margin: 0 15px;
}

#footer .footer_nav_mid a {
  font-size: 12px;
  color: #919496;
}

#footer .footer_nav_mid a i {
  padding-right: 8px;
}

#footer .footer_nav_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #919496;
  margin: 0 15px;
}

#footer .footer_nav_bottom a {
  color: #919496;
  padding: 12px 0;
}

#footer .footer_nav_bottom li {
  padding: 0;
  margin-right: 24px;
}

#footer .footer_nav_bottom .footer_nav_bottom_li {
  list-style: none;
  display: flex;
  margin: 0 45px 0 0;
}

/* footer end */
